/* Sidebar Style */

.sidebar-navigation {
    width: 20%;
    float: left;
    height: 100%;
    position: fixed;
    background-color: rgba(12,12,12,0.9);
    z-index: 10;
  }
  
  .sidebar-navigation .logo {
    position: absolute;
    width: 100%;
    height: 140px;
    line-height: 100px;
    background-color: #45489a;
    padding: 20px;
    text-align: center;
  }
  
  .sidebar-navigation .logo a {
    text-decoration: none;
    color: #fff;
    font-size: auto;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    height: 100px;
    width: 100%;
    display: inline-block;
    border: 1px solid rgba(250,250,250,0.5);
  }
  
  .sidebar-navigation .logo em {
    font-style: normal;
    font-weight: 300;
  }
  
  .sidebar-navigation nav {
    position: relative;
    top: 60%;
    left: 60%;
    -webkit-transform: translateX(-60%) translateY(-60%);
    -moz-transform: translateX(-60%) translateY(-60%);
    -ms-transform: translateX(-60%) translateY(-60%);
    -o-transform: translateX(-60%) translateY(-60%);
    transform: translateX(-60%) translateY(-60%);
  }
  
  .sidebar-navigation ul {
    margin-left: 45px;
    list-style: none;
    padding: 0;
  }
  .sidebar-navigation li{
    padding: 10px 0;
  }
  .sidebar-navigation span{
    display: inline-block;
    position:relative;
  }
  .sidebar-navigation nav a{
    display: inline-block;
    color: #fff;
    margin-top: 5px;
    text-decoration: none!important;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
  }
  .circle{
    margin-right: 5px;
    height: 10px;
    width: 10px;
    left: 0px;
    top: -1px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    transition: all 0.3s;
  }
  .rect{
    height: 1px;
    width: 0px;
    left: 0;
    bottom: 5.5px;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.1s, width 0.6s;
    -moz-transition: -webkit-transform 0.1s, width 0.6s;
    transition: transform 0.1s, width 0.6s;
  }
  .sidebar-navigation nav a:focus {
    color: #fff;
  }
  .sidebar-navigation nav a:hover, nav .active-section {
    color: #fff;
  }
  .sidebar-navigation nav a:hover span, nav .active-section span{
    background-color: #ddd;
  }
  .sidebar-navigation nav .active-section .rect{
    width: 30px;
  }
  .sidebar-navigation nav .active-section .circle{
    background-color: #fff;
  }
  
  .page-content {
    width: 77.5%;
    float: right;
  }